html, body {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    width: 100vw;
}

.Primeira {
    height: 100%;
    background-image: url(../img/AkatsukiPB1.jpg);
    background-repeat: no-repeat;
    background-position-y: bottom;
    background-size: cover;
    width: 100vw;
    backdrop-filter: blur(5px);
    padding-top: 30px;
    padding-left: 10px;
}

.Akatsuki {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.Yt {
    width: 50%;
}

.canal {
    width: 50%;
    display: grid;
    justify-content: right;
}

.MZ {
    display: flex;
    align-items: center;
    position: relative;
    height: 210px;
    transition: 500ms;
    width: 500px;
    padding-left: 10px;
}

.MZ img {
    position: absolute;
    right: 10px;
}

.MZ:hover {
    background-color: white;
    box-shadow: rgb(99, 99, 99) 0px 0px 20px;
    transition: 500ms;
    width: 500px;
    border-radius: 20px;
}